header {
    background-color: #C1440E; 
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-bottom: 5px solid #A38C6D; 
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

.card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    color: #c1440e;
    margin-bottom: 10px;
}

.card-content {
    font-size: 16px;
    color: #333;
}


#movies {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

#movies th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c1440e;
    color: white;
}

#movies td {
    border: 1px solid #ddd;
    padding: 8px;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #c1440e;
    color: white;
    text-align: left;
    padding: 10px;
}


.container {
    margin: 2% 5% 100px 5%;
}